{% extends 'user/login.html' %}
{% load static %}
{% block title %}
Password Reset Done
{% endblock title %}
{% block script %}
{% endblock script %}
{% block content %}
  <style>
    .message-container {
      text-align: center;
      margin-top: 50px;
    }

    .message-icon {
      font-size: 100px;
      color: #007bff; /* Blue color, you can adjust the color as needed */
    }

    .message-text {
      font-size: 18px;
      margin-top: 10px;
    }

    .additional-content {
      margin-top: 30px;
    }

    .additional-text {
      font-size: 16px;
      color: grey; /* Adjust text color as needed */
      margin-bottom: 10px;
    }
  </style>
  <div class="message-container">
    <span class="message-icon">✉️</span>
    <p class="message-text">
      We've sent you an email with instructions on how to reset your password. Please check your inbox.
    </p>
    <div class="additional-content">
      <p class="additional-text">
        If you don't receive the email within a few minutes, please check your spam folder.
      </p>
    </div>
  </div>
{% endblock content %}
